.bodyContainer{
    display: grid;
    grid-template-columns: 1fr 2fr 2fr 2fr 1fr;
    grid-template-rows: 200px auto 200px ;
}

.headerContainer{
    grid-column-start: 1;
    grid-column-end: 6;
    display: grid;
    grid-template-rows: 50px 200px 200px;
    grid-template-columns: 50px auto 50px;
}

.mainContainer {
    grid-column-start: 2;
    grid-column-end: 5;
    display: grid;
    
    gap: 5px;
    grid-template-columns:  repeat(3, 100px) ;
    grid-template-rows: repeat(3, 200px) 300px;
}

.footerContainer {
    grid-column-start: 1;
    grid-column-end: 6;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
}










.smallCard{
    display: flex;
    flex-direction: column;
}

.bigCard{
    display: flex;
    flex-direction: column;
}